<!DOCTYPE html>
<html class="" data-build="prod-d02e30a57b8ae623aabd3cb5ae11e12bdab2acfc" dir="ltr">
 <head>
    {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   ChatGPT
  </title>
  <meta content="ChatGPT helps you get answers, find inspiration and be more productive. It is free to use and easy to try. Just ask and ChatGPT can help with writing, learning, brainstorming and more." name="description"/>
  <meta content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai" name="keyword"/>
  <meta content="A conversational AI system that listens, learns, and challenges" property="og:description"/>
  <meta content="ChatGPT" property="og:title"/>
  <meta content="{{.assetPrefix}}/assets/chatgpt-share-og-u7j5uyao.webp" property="og:image"/>
  <meta content="https://chatgpt.com" property="og:url"/>
  <link href="{{.assetPrefix}}/assets/manifest-860042ca.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mjtoutppaf63fnxe.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/egi9yqe8h527q0wn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e6itquh41uv61tg7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e48bc6enrsazlqxr.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kovfiydeinrm6blw.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hltmtc4grx48kqfu.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bue7ssrf5lr74ywi.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/d1idnzvl0pqu9wz9.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hv5dp5z9yhve225l.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/j7203wvxxu1lsat2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k06br910ge3nee84.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ed4yr7r1n1jkra8g.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mulk6actptn6vk4t.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fudx0zpt1yfrknlw.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fsddy3bxlesj6ecw.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kjok3qqpzyd4jz2x.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m64tc82s9z17kp3f.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hjyufao59r59iwke.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/z0c6vm4df23yv2bb.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/efbz2xeupq2vm8nx.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/er0ahr1yq57dmlc2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/louqp0wzqldquiqi.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fsldftql3hgxsggg.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fv2lx90pr3xg3map.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mk14lgsmrpmo2zsf.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i04pcwd992jm5mp6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fkawcdcy1eq7glw1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ma4wahtpbk0va6ps.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/g8dk0p9fqqplk9i1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i91n50yt16oqkyc4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/o454bpu1c0xgns3r.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/diemq8s9dr5y0vfm.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/elp95vs8lkf3yodn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/egua8rkjrlzqa57o.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/j6ontdtp704853qp.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ob86mfmf3mgwxue8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kgbcmaztr0mh2fpl.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lyajfocluai5tj3m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lv0rtycw52wt1lk8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k47fatma6a4s1ju0.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kt7igpl3j0yd2c6n.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e28gu9yuef6ct2nl.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dl7zshn0b5523im4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/root-mqr9jcw8.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-n29wfzgk.css" rel="stylesheet"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <script nonce="ff4c7efc-7467-470a-97d8-ddc4743caff4">
   window.__remixContext = {{.remixContext}};
  </script>
  <script async="" nonce="ff4c7efc-7467-470a-97d8-ddc4743caff4" type="module">
   import "{{.assetPrefix}}/assets/manifest-860042ca.js";
import * as route0 from "{{.assetPrefix}}/assets/e48bc6enrsazlqxr.js";
import * as route1 from "{{.assetPrefix}}/assets/dl7zshn0b5523im4.js";

window.__remixRouteModules = {"root":route0,"routes/gpts.editor.($slug)":route1};

import("{{.assetPrefix}}/assets/mjtoutppaf63fnxe.js");
  </script>
 </body>
</html>
