<!DOCTYPE html>
<html class="light" data-build="prod-febc86bf7d62d69d2d7e655294d9e330e24658eb" dir="ltr" style="color-scheme: light;">
 <head>
    {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   Explore GPTs
  </title>
  <meta content="ChatGPT" property="og:site_name"/>
  <meta content="website" property="og:type"/>
  <meta content="Explore GPTs" property="og:title"/>
  <meta content="/gpts" property="og:url"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." name="description"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." property="og:description"/>
  <meta content="{{.assetPrefix}}/assets/gpts-og-fe0dncov.webp" property="og:image"/>
  <meta content="1200" property="og:image:width"/>
  <meta content="630" property="og:image:height"/>
  <link href="{{.assetPrefix}}/assets/manifest-2da7f8ce.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k1wn0axws3rqp08a.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/813n9w6xsthevnqe.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/o5wvzd1k9ecpkqax.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h2ot8b85cve7rfg1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/exdik5yxyqw0ecza.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/gnr105vjrdisosj1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/egf6k61v497syv4d.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cvslyloecw0ll845.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jh2rya3zgv1osppy.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/c4bxzbp1808foto4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jphxaruml8yu229c.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/j2y7n03vxto3jk7e.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kkpy24kni3zeqpn6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/isv5syr1ckkke1uq.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/do3noacblfokxtip.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mh8pkesoon2si38m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/b22cr24u96yjt1op.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hy2ql8vms8cmb2ee.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/n8loa51nw7f5uosc.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bezumdqcjknf3lgb.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/90cq0kla7tz2is3m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/diwqtymv46zhh1z1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dzk0dkz2mfrosgmo.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ihhv8qauypnyxgtg.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bhbjv50omvtqhsu2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fqk77tepca76cgd0.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/root-bkpln5bd.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-ile61fj8.css" rel="stylesheet"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/hlyoc9bfn59hqh3b.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/oxlk5gr8t0v1j2yx.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/jg9yulb6yjbl8qgr.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/mmfktyszrtnocuts.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/iej0cupg2dqkmejt.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/cpydkykrjoouij2r.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/gt7a9yaghpzivvoe.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/g4tl5lt9yqf20m4s.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/jk8w36bsokizpx57.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/dtsycd4yguv82fn4.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/n7q4i9qfexy7fs49.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/caxmmqd3ij6o16o6.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="{{.assetPrefix}}/assets/mvynlitses0om5nb.js" rel="modulepreload"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <span class="pointer-events-none fixed inset-0 z-[60] mx-auto my-2 flex max-w-[560px] flex-col items-stretch justify-start md:pb-5">
  </span>
  <script nonce="">
   window.__remixContext = {{.remixContext}};
  </script>
  <script async="" nonce="" type="module">
   import "{{.assetPrefix}}/assets/manifest-2da7f8ce.js";
import * as route0 from "{{.assetPrefix}}/assets/exdik5yxyqw0ecza.js";
import * as route1 from "{{.assetPrefix}}/assets/fqk77tepca76cgd0.js";

window.__remixRouteModules = {"root":route0,"routes/gpts._index":route1};

import("{{.assetPrefix}}/assets/k1wn0axws3rqp08a.js");
  </script>
 </body>
</html>
