<!DOCTYPE html>
<html class="" data-build="prod-17dea70a92bdda7b8b1f9b62b72908afef56ea2e" dir="ltr">
 <head>
  {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   Explore GPTs
  </title>
  <meta content="ChatGPT" property="og:site_name"/>
  <meta content="website" property="og:type"/>
  <meta content="Explore GPTs" property="og:title"/>
  <meta content="/gpts" property="og:url"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." name="description"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." property="og:description"/>
  <meta content="{{.assetPrefix}}/assets/gpts-og-fe0dncov.webp" property="og:image"/>
  <meta content="1200" property="og:image:width"/>
  <meta content="630" property="og:image:height"/>
  <link href="{{.assetPrefix}}/assets/root-jzy5dbg3.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-eplmind9.css" rel="stylesheet"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <link href="{{.assetPrefix}}/assets/manifest-3f24059f.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jvjibloq03f4bify.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dr7d3iwdkso0acad.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nk93elwanh2qmq79.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/vb4g41wfk04ca8up.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jx8y89y86p6hskm8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k9qz94s590qtk2zf.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/brf5m8wbnqo1wzv7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l97vil97vij75d6c.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dmeh4acfgftb4ocn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mhaqcfmmdyzdbeu3.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dnerd8yjozxoav5t.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/gfbiklbu7iwavqxk.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fs94t0nwpxhmz7ny.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hy5i8xpuojx9el7d.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/oj5tgfeg398yhzr0.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ctrx0vgo31qa9ogh.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nq80e3tcpxxq4d3f.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ibjep6rcbxznwycd.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mhpy1qyey3xezj1x.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/b1hq3c1bpnuzezc2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kjb8it55yehajb6f.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/d1veu52dtlvwcp39.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kk83ngqx38127x2h.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/myslysqgwdbnlsat.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nl6ip7vqdicyo7ft.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ldrv1ik0rsw19v5b.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nkaj1tkyr9gh5nbn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e2vndvaceex43zy1.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/pa2cr09u0rlusgdq.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m9ff0mj4d8z2gous.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/it69tqdz4p3pvup9.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ixhsfhf7su8uyl0y.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/8pfb0n8794aflxhe.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/houi8rstn4p87qaa.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kfk2tyi4iksp0sol.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l9qrdpdlbdsgec20.js" rel="modulepreload"/>
  <script nonce="70140ddd-8962-4f45-9171-7c3d1b321ffe">
   window.__remixContext = {{.remixContext}};
  </script>
  <script async="" nonce="70140ddd-8962-4f45-9171-7c3d1b321ffe" type="module">
   import "{{.assetPrefix}}/assets/manifest-3f24059f.js";
import * as route0 from "{{.assetPrefix}}/assets/vb4g41wfk04ca8up.js";
import * as route1 from "{{.assetPrefix}}/assets/l9qrdpdlbdsgec20.js";

window.__remixRouteModules = {"root":route0,"routes/gpts._index":route1};

import("{{.assetPrefix}}/assets/jvjibloq03f4bify.js");
  </script>
 </body>
</html>
