<!DOCTYPE html>
<html class="" data-build="prod-c8859e22a59eade4ce31dcace5c81a32a3433edb" dir="ltr">
 <head>
  {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   ChatGPT
  </title>
  <meta content="ChatGPT helps you get answers, find inspiration and be more productive. It is free to use and easy to try. Just ask and ChatGPT can help with writing, learning, brainstorming and more." name="description"/>
  <meta content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai" name="keyword"/>
  <meta content="A conversational AI system that listens, learns, and challenges" property="og:description"/>
  <meta content="ChatGPT" property="og:title"/>
  <meta content="{{.assetPrefix}}/assets/chatgpt-share-og-u7j5uyao.webp" property="og:image"/>
  <meta content="https://chatgpt.com" property="og:url"/>
  <link href="{{.assetPrefix}}/assets/manifest-33f57702.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/oicwyv3n7xcbn1wt.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/elatgogjtv7nqe0m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fglucjiog0ezslcb.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cr91oy4eihkrvo1z.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/f239egi5f118li5y.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/qxnicb2hb9cjxxqi.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/c3jz75fh28awz7n8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h1jpzm6tqkxt344d.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/pa1iyn2idxl19s5v.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/htp5iqft2rzvr58f.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lknunzf857a9nkhn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/njnyzv45aw3y7o3m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mhoun9ad2jk8xyl3.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l6guvzd52gy27z13.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e52rm0fcoysbc5g7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/heqqk27j3mi75hhq.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/iwxixxpe5e3magz2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cguzkiw1ysteyh96.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/goajibdwxzha23en.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/n67zukerwlagub9o.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/gbq1lylbn687vzp6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/iudm9ugwilu2skh4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/g0yc30qhytxe7p1x.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/d51dduttnzc9df1c.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jxoikmmk4apd7oqs.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/invgdph6vy3ds9mr.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k9j4t2vzdg57g5ai.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/7p9wcr5j6pkl0bd2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/knfub95ffuag96bv.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/d3kpx6lkwfhwxx04.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/gt9yt6m8kstbc8qg.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k4jmcc7xi21ufmsx.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/oxxp3esgmgzz1mrz.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i1wp36sdgmc0qfin.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h33iotbq4bwsa76b.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l9le4ssitosrl7uj.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bft7xbcf3rl132cf.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k0s19zho669v5qrb.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jk6trg67dh7lvgks.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/g1iwufhjwkzbmk25.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ctmdnf8bez35b94j.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dkvt10yo0ml0h6i4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h4th2f6uml6rek7b.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jypvyf7lrz9rxs3a.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jp8rwyahge8nbheg.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/9s7ikcyvuoe4rox8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fw80y5vrdv8qatn6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lpr00v65xxy63yfz.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ecdrnodx0r0uomio.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m9nqr5753zp7lx29.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/root-f2ivi636.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-mclg7qvi.css" rel="stylesheet"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <div class="flex h-full items-center justify-center">
   <svg class="animate-spin text-center text-token-text-tertiary" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
    <line x1="12" x2="12" y1="2" y2="6">
    </line>
    <line x1="12" x2="12" y1="18" y2="22">
    </line>
    <line x1="4.93" x2="7.76" y1="4.93" y2="7.76">
    </line>
    <line x1="16.24" x2="19.07" y1="16.24" y2="19.07">
    </line>
    <line x1="2" x2="6" y1="12" y2="12">
    </line>
    <line x1="18" x2="22" y1="12" y2="12">
    </line>
    <line x1="4.93" x2="7.76" y1="19.07" y2="16.24">
    </line>
    <line x1="16.24" x2="19.07" y1="7.76" y2="4.93">
    </line>
   </svg>
  </div>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <script nonce="9ebec43a-ccbe-4984-8917-45847e0d0f35">
   window.__remixContext = {{.remixContext}};
  </script>
  <script async="" nonce="9ebec43a-ccbe-4984-8917-45847e0d0f35" type="module">
   import "{{.assetPrefix}}/assets/manifest-33f57702.js";
import * as route0 from "{{.assetPrefix}}/assets/f239egi5f118li5y.js";
import * as route1 from "{{.assetPrefix}}/assets/m9nqr5753zp7lx29.js";

window.__remixRouteModules = {"root":route0,"routes/share.e.$shareId.($action)":route1};

import("{{.assetPrefix}}/assets/oicwyv3n7xcbn1wt.js");
  </script>
 </body>
</html>
