<!DOCTYPE html>
<html class="" data-build="prod-d9e6957997f1c55a158ba0b97f0016cf0fee5dae" dir="ltr">
 <head>
    {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   Explore GPTs
  </title>
  <meta content="ChatGPT" property="og:site_name"/>
  <meta content="website" property="og:type"/>
  <meta content="Explore GPTs" property="og:title"/>
  <meta content="/gpts" property="og:url"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." name="description"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." property="og:description"/>
  <meta content="{{.assetPrefix}}/assets/gpts-og-fe0dncov.webp" property="og:image"/>
  <meta content="1200" property="og:image:width"/>
  <meta content="630" property="og:image:height"/>
  <link href="{{.assetPrefix}}/assets/manifest-880b76ae.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bxkmvaa88g28buak.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/o1ivbuadejprpakj.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/k8mahrxp2x4wn5zs.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hpmltgx65508529x.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/o6fzapo44ild4nyy.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/foekbngzqeus32ru.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i16nwty7q09iq1st.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lw18gm8iney03m92.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/j8qjjjf38v0oqfi8.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/j76lrd6kdu2dvuce.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bwu3xfza0pxwe6ru.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l8i8os8zb9hbkizc.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cydma3qyvyx80hyp.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hcdx55t4k5s9h90a.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l4ck0jsx010sty0l.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kgovzb8a5v2gsd51.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cg1djtp0bw9bc15a.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nbsdgm0upgk4irzm.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jq9wblohokz1apkp.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m1obf60srwp2ts7s.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/mjcfyknvrjj9hd19.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h5k850r5kiwn2wsy.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lgmd1aoy1h693zh7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/me6ol1fk19tysqpp.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kbbxcv4fu1hoxkfv.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jwxrtiner4sf4h4i.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/yfws6zhubqtyrw9s.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/lx9cyvynd577ina5.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/nob5m8fndg9ki0re.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/icoqputhe3mwliv7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m1wyfkgqmf38opac.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/cezcivoz13f5gt55.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hpsv3ou34o5l680l.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/3fewmy3xjhyris2h.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/x1nuwls0vwzrssgy.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i5ghqjzqbmfh85xl.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/fd6fe0rviyf88ws6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/kyomfrflhtiscb48.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/root-nv4wy9md.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-cll5buey.css" rel="stylesheet"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <script nonce="4b2be219-6224-4aa4-b148-30a53b01652f">
   window.__remixContext = {{.remixContext}};__remixContext.p = function(v,e,p,x) {
  if (typeof e !== 'undefined') {
    x=new Error("Unexpected Server Error");
    x.stack=undefined;
    p=Promise.reject(x);
  } else {
    p=Promise.resolve(v);
  }
  return p;
};
__remixContext.n = function(i,k) {
  __remixContext.t = __remixContext.t || {};
  __remixContext.t[i] = __remixContext.t[i] || {};
  let p = new Promise((r, e) => {__remixContext.t[i][k] = {r:(v)=>{r(v);},e:(v)=>{e(v);}};});
setTimeout(() => {if(typeof p._error !== "undefined" || typeof p._data !== "undefined"){return;} __remixContext.t[i][k].e(new Error("Server timeout."))}, 5000);
  return p;
};
__remixContext.r = function(i,k,v,e,p,x) {
  p = __remixContext.t[i][k];
  if (typeof e !== 'undefined') {
    x=new Error("Unexpected Server Error");
    x.stack=undefined;
    p.e(x);
  } else {
    p.r(v);
  }
};Object.assign(__remixContext.state.loaderData["root"], {});
  </script>
  <script async="" nonce="4b2be219-6224-4aa4-b148-30a53b01652f" type="module">
   import "{{.assetPrefix}}/assets/manifest-880b76ae.js";
import * as route0 from "{{.assetPrefix}}/assets/o6fzapo44ild4nyy.js";
import * as route1 from "{{.assetPrefix}}/assets/kyomfrflhtiscb48.js";

window.__remixRouteModules = {"root":route0,"routes/gpts._index":route1};

import("{{.assetPrefix}}/assets/bxkmvaa88g28buak.js");
  </script>
 </body>
</html>
