<!DOCTYPE html>
<html class="light" data-build="prod-697873d7e78bb14df6e13af3a91fa237cc4db415" dir="ltr" style="color-scheme: light;">
 <head>
    {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   ChatGPT
  </title>
  <meta content="ChatGPT helps you get answers, find inspiration and be more productive. It is free to use and easy to try. Just ask and ChatGPT can help with writing, learning, brainstorming and more." name="description"/>
  <meta content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai" name="keyword"/>
  <meta content="A conversational AI system that listens, learns, and challenges" property="og:description"/>
  <meta content="ChatGPT" property="og:title"/>
  <meta content="/assets/chatgpt-share-og-u7j5uyao.webp" property="og:image"/>
  <meta content="https://chatgpt.com" property="og:url"/>
  <link href="/assets/manifest-63465a50.js" rel="modulepreload"/>
  <link href="/assets/keajpl9tw68yux1l.js" rel="modulepreload"/>
  <link href="/assets/dfm2yceao9m2ilo9.js" rel="modulepreload"/>
  <link href="/assets/hpknzrbnr0xira7i.js" rel="modulepreload"/>
  <link href="/assets/g7950ma54mxp6tbw.js" rel="modulepreload"/>
  <link href="/assets/ox3buyo58swucw41.js" rel="modulepreload"/>
  <link href="/assets/o7wih49jz3zkdcav.js" rel="modulepreload"/>
  <link href="/assets/mczvslbn3ff6fd7f.js" rel="modulepreload"/>
  <link href="/assets/hg5sf1ymbqlfp32x.js" rel="modulepreload"/>
  <link href="/assets/loa6txsy0p4dc7kk.js" rel="modulepreload"/>
  <link href="/assets/oz9mhv8xwj12nnpw.js" rel="modulepreload"/>
  <link href="/assets/c4bxzbp1808foto4.js" rel="modulepreload"/>
  <link href="/assets/oj002yr1cv5905d0.js" rel="modulepreload"/>
  <link href="/assets/ewpnojuykokmjpdh.js" rel="modulepreload"/>
  <link href="/assets/nvdtwttvqml9sy4p.js" rel="modulepreload"/>
  <link href="/assets/f6hms767mvgd5wdn.js" rel="modulepreload"/>
  <link href="/assets/ccrdffu4uq6bo5k0.js" rel="modulepreload"/>
  <link href="/assets/crgpn8kp0lsek69a.js" rel="modulepreload"/>
  <link href="/assets/lmos6opawwvf3yqw.js" rel="modulepreload"/>
  <link href="/assets/g1a8czag5zgtii4g.js" rel="modulepreload"/>
  <link href="/assets/odf16s7xmj505mjz.js" rel="modulepreload"/>
  <link href="/assets/h4mfvd1n299ropgw.js" rel="modulepreload"/>
  <link href="/assets/mwxmeau2u615h9c2.js" rel="modulepreload"/>
  <link href="/assets/d59bvqbgrtjhdi6a.js" rel="modulepreload"/>
  <link href="/assets/j3jvaqmbweoz0uvu.js" rel="modulepreload"/>
  <link href="/assets/huty6yhsfwt7jiw2.js" rel="modulepreload"/>
  <link href="/assets/gb721j76lu290i1c.js" rel="modulepreload"/>
  <link href="/assets/c3pv0g5u6p31bd14.js" rel="modulepreload"/>
  <link href="/assets/c1bxciuqfnnvqhe5.js" rel="modulepreload"/>
  <link href="/assets/fzrn137102spawew.js" rel="modulepreload"/>
  <link href="/assets/zbtw2a6a3r9x82tu.js" rel="modulepreload"/>
  <link href="/assets/mnx8lkd7acwrn154.js" rel="modulepreload"/>
  <link href="/assets/of3zireqs833qyjf.js" rel="modulepreload"/>
  <link href="/assets/h7x1gowp2f9zzh0d.js" rel="modulepreload"/>
  <link href="/assets/dcqw1exbxjpuudt7.js" rel="modulepreload"/>
  <link href="/assets/cyjanostgx80ah8i.js" rel="modulepreload"/>
  <link href="/assets/kb6nlpjb6lfuuize.js" rel="modulepreload"/>
  <link href="/assets/ni648vdhvct9krhm.js" rel="modulepreload"/>
  <link href="/assets/bp3vdqasuuueuouj.js" rel="modulepreload"/>
  <link href="/assets/btagl6w1gub4aw61.js" rel="modulepreload"/>
  <link href="/assets/nuamy4fvbzmtn8so.js" rel="modulepreload"/>
  <link href="/assets/root-mg58v26q.css" rel="stylesheet"/>
  <link href="/assets/conversation-small-ile61fj8.css" rel="stylesheet"/>
  <link as="script" crossorigin="" href="/assets/f4o52aa32rt1tfcb.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/icsetizh7sglpchc.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/ctna6esteq65p5dt.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/n2jol51kjzmqjiuf.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/iej0cupg2dqkmejt.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/jvd7v811vc32c0gj.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/c5yzhyi4mbwizere.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/jt7r8wdlok7n1a52.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/g4tl5lt9yqf20m4s.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/jk8w36bsokizpx57.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/g1wd2b9yuaxn5nf3.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/dreuu1skkp09atoc.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/ocbufua927rf70vw.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/js41jyetsc1vb43t.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/jyaupvbot5bn9tgt.js" rel="modulepreload"/>
  <link as="script" crossorigin="" href="/assets/eycoja3yrsogea06.js" rel="modulepreload"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <span class="pointer-events-none fixed inset-0 z-[60] mx-auto my-2 flex max-w-[560px] flex-col items-stretch justify-start md:pb-5">
  </span>
  <script nonce="">
   window.__remixContext = {{.remixContext}};__remixContext.p = function(v,e,p,x) {
  if (typeof e !== 'undefined') {
    x=new Error("Unexpected Server Error");
    x.stack=undefined;
    p=Promise.reject(x);
  } else {
    p=Promise.resolve(v);
  }
  return p;
};
__remixContext.n = function(i,k) {
  __remixContext.t = __remixContext.t || {};
  __remixContext.t[i] = __remixContext.t[i] || {};
  let p = new Promise((r, e) => {__remixContext.t[i][k] = {r:(v)=>{r(v);},e:(v)=>{e(v);}};});
setTimeout(() => {if(typeof p._error !== "undefined" || typeof p._data !== "undefined"){return;} __remixContext.t[i][k].e(new Error("Server timeout."))}, 5000);
  return p;
};
__remixContext.r = function(i,k,v,e,p,x) {
  p = __remixContext.t[i][k];
  if (typeof e !== 'undefined') {
    x=new Error("Unexpected Server Error");
    x.stack=undefined;
    p.e(x);
  } else {
    p.r(v);
  }
};Object.assign(__remixContext.state.loaderData["root"], {"rq:[\"account-status\"]":__remixContext.n("root", "rq:[\"account-status\"]")});__remixContext.a=1;
  </script>
  <script async="" nonce="" type="module">
   import "/assets/manifest-63465a50.js";
import * as route0 from "/assets/g7950ma54mxp6tbw.js";
import * as route1 from "/assets/nuamy4fvbzmtn8so.js";

window.__remixRouteModules = {"root":route0,"routes/gpts.editor.($slug)":route1};

import("/assets/keajpl9tw68yux1l.js");
  </script>
  <!--$-->
  <script async="" nonce="">
   __remixContext.r("root", "rq:[\"account-status\"]", {{.accountStatus}})
  </script>
  <!--/$-->
  <script nonce="">
   $RC=function(b,c,e){c=document.getElementById(c);c.parentNode.removeChild(c);var a=document.getElementById(b);if(a){b=a.previousSibling;if(e)b.data="$!",a.setAttribute("data-dgst",e);else{e=b.parentNode;a=b.nextSibling;var f=0;do{if(a&&8===a.nodeType){var d=a.data;if("/$"===d)if(0===f)break;else f--;else"$"!==d&&"$?"!==d&&"$!"!==d||f++}d=a.nextSibling;e.removeChild(a);a=d}while(a);for(;c.firstChild;)e.insertBefore(c.firstChild,a);b.data="$"}b._reactRetry&&b._reactRetry()}};$RC("B:0","S:0")
  </script>
 </body>
</html>
