<!DOCTYPE html>
<html class="" data-build="prod-a7456e86966322bfda90b3826ee316146c0986dc" dir="ltr">
 <head>
  {{.envScript}}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{{.assetPrefix}}" rel="preconnect"/>
  <meta content="index, follow" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="app-id=6448311069" name="apple-itunes-app"/>
  <link href="{{.assetPrefix}}/assets/apple-touch-icon-mz9nytnj.webp" rel="apple-touch-icon" sizes="180x180"/>
  <link href="{{.assetPrefix}}/assets/favicon-32x32-p4ktpm1x.webp" media="(prefers-color-scheme: light)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-dark-32x32-gt5kfzyp.webp" media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{{.assetPrefix}}/assets/favicon-o20kmmos.svg" rel="icon" sizes="32x32" type="image/svg+xml"/>
  <title>
   Explore GPTs
  </title>
  <meta content="ChatGPT" property="og:site_name"/>
  <meta content="website" property="og:type"/>
  <meta content="Explore GPTs" property="og:title"/>
  <meta content="/gpts" property="og:url"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." name="description"/>
  <meta content="Discover and create custom versions of ChatGPT that combine instructions, extra knowledge, and any combination of skills." property="og:description"/>
  <meta content="{{.assetPrefix}}/assets/gpts-og-fe0dncov.webp" property="og:image"/>
  <meta content="1200" property="og:image:width"/>
  <meta content="630" property="og:image:height"/>
  <link href="{{.assetPrefix}}/assets/root-eakuwlaq.css" rel="stylesheet"/>
  <link href="{{.assetPrefix}}/assets/conversation-small-eplmind9.css" rel="stylesheet"/>
 </head>
 <body class="">
  <script>
   !function(){try{var d=document.documentElement,c=d.classList;c.remove('light','dark');var e=localStorage.getItem('theme');if('system'===e||(!e&&true)){var t='(prefers-color-scheme: dark)',m=window.matchMedia(t);if(m.media!==t||m.matches){d.style.colorScheme = 'dark';c.add('dark')}else{d.style.colorScheme = 'light';c.add('light')}}else if(e){c.add(e|| '')}if(e==='light'||e==='dark')d.style.colorScheme=e}catch(e){}}()
  </script>
  <audio autoplay="" class="fixed bottom-0 left-0 hidden h-0 w-0" crossorigin="anonymous">
  </audio>
  <link href="{{.assetPrefix}}/assets/manifest-bd1aef30.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jdm5upwcuozkrtrx.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/gghzs582a65dvm3m.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e34jsxd5qw5romn0.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dloxjiux7qgxx6s4.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/e43ee7xqkbzywcrd.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hwcwcxx2zxanzaaq.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/b674b8m5uoo83pf3.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ke4wseue2s3xar0a.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/pd094ob9wacofnvk.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l69acfj4t0bghaz3.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/knl5287dkf7ic29t.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hxxw62av1uep63qt.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/clzecvuevpxe2ywn.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ljnuyiuz0czms6ve.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dwhz5kc0o6vohsx7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bzna72oknccd3y3z.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hz11832it84vg9k2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l1ucg8fno55vfzot.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/eca8j1i3jpdssmzb.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/inxv3p5hyolpb7jk.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/h6nboy9daks7d3l6.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/l8oaroay9lr529kp.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/d63v6mktd1qd1cjz.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/hsijd5gmua0nfo3g.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/dw7wi6pwbqxev4n7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ivo887h7m98okmdy.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/m3csuajimqz8gzlw.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/egu0eqrtgme3ss9j.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/ezmptwrca6wtpbet.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/iswakklttv9okpa2.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/jie76fg6886bj7si.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/i5r2307o44m8ec9j.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/b7yh879a84xsoh1v.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/bbie8a5uhoq6uzh7.js" rel="modulepreload"/>
  <link href="{{.assetPrefix}}/assets/s8p3pspf1mx2v6g9.js" rel="modulepreload"/>
  <script nonce="8fd85982-6022-4ae7-a310-a061213768a4">
   window.__remixContext = {{.remixContext}};
  </script>
  <script async="" nonce="8fd85982-6022-4ae7-a310-a061213768a4" type="module">
   import "{{.assetPrefix}}/assets/manifest-bd1aef30.js";
import * as route0 from "{{.assetPrefix}}/assets/dloxjiux7qgxx6s4.js";
import * as route1 from "{{.assetPrefix}}/assets/s8p3pspf1mx2v6g9.js";

window.__remixRouteModules = {"root":route0,"routes/gpts._index":route1};

import("{{.assetPrefix}}/assets/jdm5upwcuozkrtrx.js");
  </script>
 </body>
</html>
